/Apps
/Calibre Library
/Desktop
/Documents
/Dropbox
/Downloads
/google-drive
/harvester
/Music
/Pictures
/Public
/snap
/Templates
/Videos
/wget-log
/system_info.html
/install.sh
/*.txt
/Zotero
/.cache
/.zotero
*zcompdump*
*.zwc
/.vim
/.thunderbird
/.mozilla
/.ssh
/.python_history
/.pki
/.mozilla
/.local/share
/.gdfuse
/.dropbox*
/.atom
/.config/libreoffice
/.config/Atom
/.zsh/zsh_history
/.yadm/repo.git
/.oracle_jre_usage
/.java
/.config/yelp
/.config/torbrowser
/.config/pulse
/.config/Kite
/.config/ExpanDrive
/.byobu
/.antigen
/.ICEauth*
/.config/Twine
/.config/evolution
